.ps__container {
  width: 90%;
  background: cornflowerblue;
  height: 50em;
  margin-left: 3em;
  margin-top: 3em;
}

h1 {
  text-align: center;
}

.ps__main__display {
  width: 90%;
  background: pink;
  height: 25em;
  margin-left: 3em;
  margin-top: 3em;
}
